/* start basic things */
:root {
  --main-color: #360e93;
  --main-background-color: #f0f3fc;
  --main-transition: 0.4s;
}
body {
  font-family: "Ubuntu", sans-serif;
  position: relative;
}
.container {
  padding: 0 15px;
  margin: 0 auto;
}
/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* meduim */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
a {
  text-decoration: none;
  display: block;
  width: fit-content;
}
ul {
  list-style: none;
  margin: 0;
}
/* end basic things */
/* start js things */
.box-get-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: white;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  width: 70vi;
  height: 70vh;
  transform: translate(-50%, -50%);
  z-index: 1004;
}
@media (max-width: 768px) {
  .box-get-name {
    text-align: center;
  }
}
.overlay {
  position: absolute;
  width: 100vi;
  height: 100vh;
  background-color: #00000070;
  z-index: 1002;
}
.box-get-name h2 {
  margin: 0 0 10px;
  font-size: 50px;
}
.box-get-name input.get-name {
  width: 70%;
  border: 2px solid var(--main-color);
  padding: 10px;
  border-radius: 40px;
  margin-bottom: 20px;
}
.box-get-name input.get-name:focus {
  outline: none;
}
.box-get-name button {
  padding: 10px 20px;
  font-size: 30px;
  color: white;
  font-weight: bold;
  background-color: var(--main-color);
  border: none;
  border-radius: 30px ;
  cursor:pointer;
}
/* end js things */
/* Start landing page  */
.landing {
  position: relative;
  background-color: var(--main-background-color);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.landing .special1 {
  width: 600px;
  aspect-ratio: 400/200;
  position: absolute;
  top: -70px;
  left: -200px;
  z-index: 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.landing .cover1 {
  background-image: url("../svg/landing1.svg");
}
.landing .special2 {
  width: 4000px;
  aspect-ratio: 4/2;
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
}
.landing .cover2 {
  background-image: url("../svg/landing2.svg");
}
.landing .container {
  width: 80%;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  box-shadow: 10px 10px 10px #ddd;
  padding: 30px;
  position: relative;
}
.landing .container::before {
  content: "";
  background-color: #a6e0ec;
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  right: -41px;
  top: -100px;
  z-index: -100;
}
.landing header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  position: relative;
}
.landing header h2 {
  margin: 0;
  font-size: 30px;
  font-weight: normal;
}
.landing header i.hidden {
  display: none;
  cursor: pointer;
  font-size: 35px;
}
.landing header .normal {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.landing header ul li {
  margin-right: 3px;
  padding: 10px;
  z-index: 1003;
  cursor: pointer;
  transition: var(--main-transition);
  position: relative;
  border-radius: 4px;
}
.landing header .normal li::before {
  content: " ";
  position: absolute;
  width: 0%;
  height: 5px;
  background-color: var(--main-color);
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--main-transition);
}
.landing header ul li:hover {
  background-color: var(--main-background-color);
  transform: rotate(4deg);
  font-size: 22px;
}
.landing header .normal li:hover::before {
  width: 100%;
}
.landing header ul li a {
  color: var(--main-color);
  font-size: 20px;
  position: relative;
}
.landing .content {
  display: flex;
  align-items: center;
  position: relative;
}
.landing .content .text {
  margin-bottom: 70px;
}
.landing .content .text h2 {
  font-size: 40px;
  color: var(--main-color);
}
.landing .content .text p {
  margin: 20px 0 30px;
  color: #9a8f8f;
  line-height: 1.6;
}
.landing .content .text button {
  border: none;
  padding: 10px 20px;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  /* z-index: 2000; */
}
.landing .content img {
  width: 400px;
  position: relative;
}
.landing .content .first-back {
  bottom: 0px;
  right: 0px;
}
.landing .content .second-back {
  bottom: -148px;
  right: 55px;
  transform-style: preserve-3d;
  transform: rotateX(71deg);
}
.landing .content .cover3 {
  background-image: url("../svg/backgroundimg.svg");
  width: 400px;
  aspect-ratio: 4/4;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}
@media (max-width: 768px) {
  .landing .container::before {
    display: none;
  }
  .landing header i.hidden {
    display: block;
  }
  .landing header ul li {
    margin-right: 0;
  }
  .landing header ul li::before {
    content: " ";
    width: 0;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 14px;
    background-color: var(--main-color);
    transition: var(--main-transition);
  }
  .landing header ul li:hover::before {
    left: 0;
    width: 5px
  }
  .landing .content .text {
    text-align: center;
  }
  .landing img,
  .landing .content .cover3 {
    display: none;
  }
}
/* end landing page  */
